<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/users"><span class="glyphicon glyphicon-user"></span> ユーザー管理画面</a>
      </li>
      <li>
        <a href="/reservations"><span class="glyphicon glyphicon-info-sign"></span> 予約管理画面</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-book"></span> 問い合わせ</a>
      </li>
    </ul>
  </div>
</nav>
