<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/logo.png">
    </a>
    <h1>Reservation Management System</h1>
    <p>LINEを使った予約システムにおいて、登録ユーザーおよび予約データを管理するWEBサービスです。</p>
    <a type="button" class="btn btn-lg btn-default" href="/users"><span class="glyphicon glyphicon-user"></span> 登録ユーザー管理画面</a>
    <a type="button" class="btn btn-lg btn-primary" href="/reservations"><span class="glyphicon glyphicon-info-sign"></span> 予約管理画面</a>
  </div>
</div>

</body>
</html>
