<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<h1>予約管理画面</h1>
<% reservationsData.forEach((item)=>{ %>
    <li><%= item.id,item.line_uid,item.name,item.scheduledate,item.starttime,item.endtime,item.menu %></li>
<% }); %>

</body>
</html>