<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<h1>ユーザー管理画面</h1>
    <% usersData.forEach((item)=>{ %>
        <li><%= item.display_name %></li>
    <% }); %>

<script src='js/main.js'></script>

</body>
</html>